In [2]:
import pandas as pd
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}
inventory = pd.DataFrame(data, index=["Product1", "Product2", "Product3", "Product4", "Product5"])

In [3]:
inventory.head(2)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80

In [4]:
inventory.shape

(5, 4)

In [5]:
inventory.columns, inventory.index

(Index(['Location1', 'Location2', 'Location3', 'Location4'], dtype='object'),
 Index(['Product1', 'Product2', 'Product3', 'Product4', 'Product5'], dtype='object'))

In [6]:
inventory.dtypes

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [7]:
inventory.isnull().sum()

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [8]:
inventory.loc["Product3"]

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product3, dtype: int64

In [9]:
inventory["Location2"]

Product1    200
Product2     60
Product3    400
Product4    250
Product5     90
Name: Location2, dtype: int64

In [10]:
inventory.loc[["Product1", "Product4"], ["Location1", "Location3"]]

          Location1  Location3
Product1        100        150
Product4        200        220

In [11]:
inventory.iloc[:3, :2]

          Location1  Location2
Product1        100        200
Product2         50         60
Product3        300        400

In [12]:
inventory.at["Product5", "Location3"]

70